@import url("https://fonts.googleapis.com/css?family=Roboto");

/* global config */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* global styling */
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


a {
    text-decoration: none;
}

p {
    line-height: 1.5em;
}

/* Utility Classes */
.container {
}

.text-center {
    text-align: center;
}

.text-primary {
    color: yellowgreen;
}

.bg-light {
    background: grey;
    color: white;
    padding: 20px 0px;
    overflow: auto;
}

.bg-dark {
}

.bg-primary {
}

.l-heading {
    font-size: 50px;
}

.m-heading {
    font-size: 30px;
    color: black;
}

.lead {
    font-size: 20px;
}

.py-1 {
    font-size: 0.67em;
}

.py-2 {
}

.py-3 {
}

.p-1 {
    margin-bottom: 10px;
}
.p-2 {
    float: left;
    width: 60%;
    padding: 20px;
}
.p-3 {
}

.btn {
    background: yellowgreen;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.btn:hover {
}

.btn-dark {
}

.list {
    padding-top: 10px;
}

.list li {
    list-style: none;
    border-bottom: 1px dotted black;
    line-height: 2em;
}

/* Navbar */
#navbar {
    background: black;
    color: white;
    height: 70px;
    position: fixed;
    width: 100%;
}

.logo {
    margin-left: 10px;
    font-size: 30px;
}

#navbar span {
    color: yellowgreen;
}

#navbar a {
    color: white;

}

#navbar ul {
    list-style: none;
    float: right;
}

#navbar ul li {
    float: left;
}


#navbar ul li a {
    display: block;
    padding: 25px;
}

#navbar h1 {
    float: left;
    padding-top: 20px;
}

#navbar ul li a:hover {
    background: grey;
    color: red;
}

/* Showcase */
#showcase {
    background: url("./image/please.jpg") no-repeat center center/cover;
    height: 650px;
}

#showcase .showcase-content {
    color: white;
    text-align: center;
    padding-top: 250px;
    line-height: 100px;
    background-color: black;
    height: 650px;
}

/* Section: What We Do */
#what .items {
    color: black;
}

#what .items .item {
    float: left;
    width: 33%;
    overflow: hidden;
    text-align: left;
    padding: 50px;
}

#what .items .item h3 {
    padding-bottom: 20px;
}

#what .items .item i {
    float: left;
    padding: 15px;
    background: yellowgreen;
    border-radius: 50%;
}

/* Section: Who We Are */
#who {
    width: 100%;
}

#who div {
    height: 400px;
}

#who .who-img {
    width: 40%;
    float: left;
    background: url("./image/second.jpg") center/cover;
    height: 400px;
}


/* Section: Clients */
#clients .items {
    height: 200px;
    text-align: center;
    justify-content:center;
    display: flex;
    align-items: center;
}

#clients .item ul li {
    list-style: none;
    display: inline-block;
    padding: 20px;
}


#clients .items img {
    width: 100px;
    margin: 0px 30px;
}

#main-footer .container p {
    font-size: 15px;
}